<!DOCTYPE html>
<html lang="en">
<head>
  <title>URLS Home</title>
  <% include partials/_header %>
  <% include partials/bootstrap %>
</head>
<body style="background-color: #d5e2ca">

    <% if ( user ){ %>
      <form action="/urls/new">
        <input type="submit" value="Shorten A URL" class="btn btn-success" />
      </form>
     <ul>

      <% for ( let url in urls ){ %>
        <% if (urls[url].user === user.id){ %>

          <li><%= urls[url].shortURL %> - <%= urls[url].longURL %>
             <a href ="/urls/<%= urls[url].shortURL %>">Edit</a>
             <form method="POST" action="/urls/<%= urls[url].shortURL %>?_method=DELETE">
               <input type="submit" value="Delete">
             </form>
           </li>

        <% } %>
      <% } %>
      </ul>



    <% } else { %>

    <p> Please login!</p>

    <% } %>

</body>
</html>
