<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You Made it</title>
  </head>
  <body>
    <style>
    body{
      background-color: lightblue
    }
    div {
      text-align: center;
    }
      h1 {
        font-size: 200px
      }
      p {
        font-size: 10px
      }
    </style>
    <div>
      <h1>YOU MADE IT</h1>
      <p>
        Just kidding its a 401, you need to <a href="/login">login</a>
      </p>
    </div>

  </body>
</html>
